.wrapperMain {
  position: relative;
}
.headerWrapper {
  font-family: "Colbo-Ultra-bold";
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;

  &Title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    direction: rtl;
    color: #e7e7e7;
    top: 0;
    font-size: 29.6px;
    z-index: 10;
  }
}

.blockInfo {
  padding-top: 290px;
  margin-top: -55vh;
  background: linear-gradient(179.7deg, rgba(0, 0, 0, 0.0001) 16.85%, #232323 42.3%);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  cursor: default;

  &Form {
    direction: rtl;
    max-width: 732px;
  }

  .subTitle {
    font-family: "Colbo-light";
    font-size: 66px;
  }

  .subTitleText {
    font-family: "Colbo-light";
    color: #fff;
    font-size: 29px;
  }

  .formTitle {
    font-family: "Colbo-light";
    margin-top: 60px;
    margin-bottom: 17px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
  }

  .formInput {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;

    > input {
      font-family: 'Colbo-Regular';
      font-weight: 400;
      font-size: 16px;
      color: #FF1650;
      outline: none;
      max-width: 354px;
      width: 100%;
      height: 40px;
      padding: 15px;
      border: none;
      border-radius: 0px 13px 0px 0px;
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    padding-left: 11px;

    .checkboxTitle {
      font-family: "Colbo-light";
      font-size: 16px;
      color: #fff;
    }

    .checkboxSvg {
      //margin-left: 170px;
    }

    .checkboxButton {
      font-family: "Colbo-light";
      font-size: 30px;
      color: #ffffff;
      outline: none;
      border: none;
      background-color: #FF1650;
      padding: 1px 22px;
      border-radius: 0px 13px 0px 0px;
    }
  }
  .checkboxCreate {
    font-family: "Colbo-light";
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 27px;
    color: #fff;
  }

  .wrapperLinks {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-left: 115px;

    &First {
      display: flex;
      flex-direction: column;
      gap: 29px;
    }
  }
}

.fontPink {
  color: #FF1650;
}

//----------------------------------------------------------------------------

.blockDoorOne {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #232323;
  height: 100vh;
  width: 50vw;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.6s;
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E50D3F;
    height: 106px;
    width: 110px;
    color: #ffffff;
    font-family: "Colbo";
    font-size: 24px;
    cursor: pointer;
    text-align: center;
  }
  &Content {
    max-width: 641px;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 14px;
    .ContentTitle {
      text-align: center;
      font-size: 66px;
      font-family: "Colbo";
      line-height: 80%;
    }
    .CountBlock {
      border-top: 1px solid #EB098B;
      border-bottom: 1px solid #EB098B;
      padding: 10px 0;
      margin: 0 15px;
      margin-top: 35px;
      >p{
        font-family: "Colbo";
        font-size: 29.8px;
        text-align: center;
        color: #EB098B;
      }
    }
    .blockDes {
      color: #ffffff;
      margin-top: 55px;
      &Title {
        font-family: "Colbo";
        font-size: 27px;
        text-align: center;
      }
      &Text {
        text-align: center;
        font-family: "Colbo-light";
        font-size: 27px;
      }
      &SubText {
        font-family: "Colbo";
        font-size: 27px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 35px;
      }
      &Count {
        font-family: "Colbo";
        text-align: center;
        color: #EB098B;
        font-size: 80px;
      }
      &BotTest {
        display: block;
        font-family: "Colbo-light";
        text-align: center;
        font-size: 20px;
      }
    }
  }
  .blockForm{
    max-width: 725px;
    margin: 0 auto;
    direction: rtl;
    margin-top: 15px;
    color: #ffffff;
    &Title {
      font-family: "Colbo-light";
      font-size: 16px;
    }

    &Button {
      font-family: "Colbo-light";
      font-size: 30px;
      color: #ffffff;
      outline: none;
      border: none;
      background-color: #FF1650;
      padding: 1px 22px;
      border-radius: 0px 13px 0px 0px;
    }
    &Input {
      font-family: 'Colbo-Regular';
      font-weight: 400;
      font-size: 16px;
      color: #FF1650;
      outline: none;
      max-width: 354px;
      width: 100%;
      height: 40px;
      padding: 15px;
      border: none;
      border-radius: 0px 13px 0px 0px;
    }
    .wrapperInput {
      display: flex;
      gap: 14px;
      margin-top: 14px;
    }
    .wrapperButton{
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      gap: 14px;
      &Fix{
        display: flex;
        justify-content: space-between;
        margin-right: 14px;
        width: 100%;
        max-width: 354px;
      }
    }
  }
}

.blockDoorOne.active {
  transform: translateX(0%);
}

.blockDoorSecond {
  position: fixed;
  top: 0;
  right: 0;
  background-color: blue;
  height: 100vh;
  width: 50vw;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.6s;
}

.blockDoorSecond.active{
  transform: translateX(0%);
}