.BlockLink {
  display: flex;
  direction: rtl;
  color: #ffffff;
  &:hover {
    .BlockLinkText {
      transform: translateX(-100%);
    }
  }
  &Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 165px;
    width: 100vw;
    border-radius: 15px 0px 0px 0px;
    overflow: hidden;
    position: relative;
    max-height: 93px;
    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
  &Text {
    position: absolute;
    font-size: 20px;
    font-family: "Colbo";
    font-weight: 500;
    background-color: #036473;
    padding: 12px 14px 15px 4px;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: transform 0.6s;
    &.active {
      transform: translateX(-100%);
    }
  }
  &Sub {
    font-family: "Colbo-light";
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
  }
  &Photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-height: 93px;
    max-width: 84px;
    background: #ffffff;
  }
}