* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: 0.15s;

  &:focus {
    outline: none;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Colbo";
  src: url("/fonts/COLBO-BlackSemiExtended.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Colbo-Regular";
  src: url("/fonts/COLBO-RegularCondensed.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Colbo-Ultra-bold";
  src: url("/fonts/COLBO-UltraBlackExtended.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Colbo-bold";
  src: url("/fonts/COLBO-BoldSemiCondensed.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Colbo-light-con";
  src: url("/fonts/COLBO-LightSemiExtended.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Colbo-light";
  src: url("./fonts/COLBO-LightSemiExtended.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}


